<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>ePaperBoy descarga los epaper de periodicos nacionales en formato PDF</title>
	<meta name="description" content="ePaperBoy descarga los epaper de periodicos nacionales en formato PDF">
	<meta name="author" content="hkadejo">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="css/style.css">
	<script src="js/libs/modernizr-2.5.3-respond-1.1.0.min.js"></script>
</head>
<body>
<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->

	<div id="header-container">
		<header class="wrapper clearfix">
			<img src="images/paperboy.png" alt="ePaperBoy logo">
			<h1 id="title">ePaperBoy</h1>
			<nav>
				<ul>					
				</ul>
			</nav>
		</header>
	</div>
	<div id="main-container">
		<div id="main" class="wrapper clearfix">
			
			<article>
				<header>
					<a class="header_link" href="epapers/edh.pdf?v=1">El Diario de Hoy</a><br>
					<span><i><%= @edh_page %> paginas</i></span><br>					
					<span><i><%= @edh_size %> MB</i></span><br>

					<br>

					<a class="header_link" href="epapers/lpg.pdf?v=1">La Prensa Grafica</a><br>
					<span><i><%= @lpg_page %> paginas</i></span><br>
					<span><i><%= @lpg_size %> MB</i></span><br>
					
				</header>				
			</article>
			
			<aside>
				
				<h3>ePaperBoy</h3>
				<p>Descarga los epaper de periodicos nacionales en formato PDF <a class="link_sidebar" href="http://twitter.com/#!/hkadejo">@hkadejo</a></p>
				<p>
				
				<iframe src="http://platform0.twitter.com/widgets/tweet_button.html?_=1309116374276&amp;count=vertical&amp;id=twitter_tweet_button_0&amp;lang=en&amp;original_referer=http%3A%2F%2Finitializr.com%2F&amp;related=hkadejo&amp;text=hKadejo%20-%20ePaperBoy%20descarga%20los%20periodicos%20de%20El%20Salvador!&amp;url=http%3A%2F%2Fe-paperboy.com&amp;via=hkadejo" allowtransparency="true" frameborder="0" scrolling="no" class="twitter-share-button twitter-count-vertical" style="width: 55px; height: 65px; " title="Twitter For Websites: Tweet Button"></iframe>

					<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>

					<iframe class="facebook" src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fe-paperboy.com&amp;layout=box_count&amp;show_faces=false&amp;width=80&amp;action=like&amp;colorscheme=light&amp;height=65" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:80px; height:65px;" allowtransparency="true"></iframe>		
				</p>

				

			</aside>
			
		</div> <!-- #main -->
	</div> <!-- #main-container -->

	<div id="footer-container">
		<footer class="wrapper">
			<h3>2012 - &copy; ePaperBoy es un sitio creado por <a class="link_sidebar" href="http://hkadejo.com">hkadejo</a></h3>
		</footer>
	</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.2.min.js"><\/script>')</script>

<script src="js/script.js"></script>
<script>
	var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
	(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
	g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
	s.parentNode.insertBefore(g,s)}(document,'script'));
</script>

</body>
</html>
